@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-logo {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-btn{
    @apply flex items-center justify-center rounded-md text-base px-2 py-1 hover:bg-gray-700 font-medium transition-all duration-100 hover:text-white text-gray-500;
}

.header-ul{
    @apply absolute hidden group-hover:block transition-all duration-300 top-8 right-0 bg-white dark:bg-gray-800 drop-shadow-2xl rounded-lg border border-gray-900 text-gray-800 dark:text-gray-200;
}

.header-li{
    @apply border-b border-gray-300 dark:border-gray-700 last:border-transparent;
}

.header-link{
    @apply hover:text-blue-500 dark:hover:text-gray-200 hover:bg-blue-100 dark:hover:bg-blue-600 transition-all duration-150 rounded-lg block py-1 px-3;
}